<div class='row'>
  <div class='col-lg-8 col-lg-offset-2'>
    <div class='panel panel-default'>
      <div class='panel-body'>

        <%= form_tag(works_path, method: :get, id: "search-form") do %>
          <div class='input-group'>
            <%= text_field_tag :full_search, params[:full_search], placeholder: 'Enter search terms...', class: 'form-control' %>
            <span class="input-group-btn">
              <%= submit_tag 'Go!', class: 'btn' %>
            </span>
          </div>

          <ul class="list-group" style="margin-bottom: 0">
            <li class="list-group-item" style="border: 0">
              <a class='btn btn-default' data-toggle='collapse' href='#more-search-options' style="margin-bottom: 0px";>
                More Search Options
              </a>
              <div class='collapse' id='more-search-options'>
                <%= render 'layouts/more_search_options' %>
              </div>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
