<% height = 60 %>

<nav class="navbar navbar-default" style='height: <%= height + 40 %>px'>
  <div class="container-fluid" >

    <!-- branding and link to bien homepage -->
    <div class='navbar-header'>
      <%= link_to "http://basicincome.org/",
                  class: 'navbar-brand' do %>
        <%= image_tag("BIEN_logo.png", height: height) %>
      <% end %>
    </div>

    <!-- page title -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <h3 style='line-height: <%= height %>px'>
            Basic Income Research Database
          </h3>
        </li>
      </ul>
    </div>

  </div>
</nav>
