<nav class="navbar navbar-default">
  <div class="container-fluid">
    <h4 class='navbar-text'>Basic Income Research Database</h4>
    <a class="navbar-brand navbar-right" href="http://basicincome.org/">BIEN Home Page</a>
  </div>
</nav>