<nav class="navbar navbar-default">
  <div class="container-fluid">
    <% height = '60' %>

    <h3 class='navbar-text', style="line-height: <%= height %>px">
      Basic Income Research Database
    </h3>

    <%= link_to "http://basicincome.org/",
                class: 'navbar-right navbar-brand' do %>
      <%= image_tag("BIEN_logo.png", height: height) %>
    <% end %>
  </div>
</nav>
